@import "tailwindcss";

:root {
  --bg: #121212;
  --primary: #00e5ff;
  --secondary: #cfd8dc;
  --text: #b0bec5;
}

html {
  scroll-behavior: smooth;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --bg: #121212;
    --primary: #00e5ff;
    --secondary: #cfd8dc;
    --text: #b0bec5;
  }
} */

body {
  background: var(--bg);
  color: var(--fg);
  font-family: Arial, Helvetica, sans-serif;
}
